<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="rectparameters.css">
</head>
<body>
    <svg class = "group1">
        <g fill="white" stroke-width="5" >
            <circle stroke="#0885c2" cx="55" cy="55" r="30" />
            <circle stroke="black" cx="125" cy="55" r="30" />
            <circle stroke="#ed334e" cx="195" cy="55" r="30" />
            <circle stroke="#fbb132" cx="90" cy="85" r="30" fill="none"/>
            <circle stroke="#1c8b3c" cx="160" cy="85" r="30" fill="none"/>
        </g>
    </svg>
</body>
</html>