<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <title>Title {{name}}</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<div id = "bodyA">
    <span id = "header">
        Snap photos and share like never before
    </span>

    <div id = "group1"> <!-- тут вопрос???????? -->
        <p>
            <span class = "bodyH4">
                Sed ut perspiciatis
            </span>
        </p>
        <span class = "bodyP">
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur
            aut odit aut fugit, sed quia consequuntur magni dolores eos qui
            ratione voluptatem sequi nesciunt. Neque porro quisquam est.
        </span>
    </div>

    <div id = "group2">
        <p>
            <span class = "bodyH4">
                Lorem ipsum dolor
            </span>
        </p>
        <span class = "bodyP">
            Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
        </span>
    </div>

    <div id = "group3">
        <p>
            <span class = "bodyH4">
                Nemo enim ipsam
            </span>
        </p>
        <span class = "bodyP">
            Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.
        </span>
    </div>
    <div id = "group4">
        <p>
            <span class = "bodyH4">
                Tempor incididunt
            </span>
        </p>
        <span class = "bodyP">
            Eos qui ratione voluptatem sequi nesciunt.
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.
        </span>

    </div>
    <div id = "bodyB">
        <span>

        </span>


    </div>



</div>

</body>
</html>

