
#bodyA {
    position: absolute;
    width: 1680px;
    height: 804px;
    left: 80px;
    top: 80px;

    background: #FFFFFF;
}
#header {
    position: absolute;
    width: 750px;
    height: 144px;
    left: 80px;
    top: 120px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.015em;
    color: #000000;
}
#bodyB{
    position: absolute;
    width: 1680px;
    height: 948px;
    left: 80px;
    top: 924px;

    background: #FFFFFF;
}

#group1{
    position: absolute;
    width: 686px;
    height: 150px;
    left: 80px;
    top: 324px;
}
#group2{
    position: absolute;
    width: 686px;
    height: 150px;
    left: 914px;
    top: 324px;
}
#group3{
    position: absolute;
    width: 686px;
    height: 150px;
    left: 80px;
    top: 534px;
}
#group4{
    position: absolute;
    width: 686px;
    height: 150px;
    left: 914px;
    top: 534px;
}


.bodyH4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;

    letter-spacing: -0.015em;

    color: #000000;
}

.bodyP{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
}